<article class="blog-post mb-3">
  <h2 class="display-5 link-body-emphasis mb-1"><%= article.title %></h2>
  <p class="blog-post-meta"><%= render 'article_detail', article: article %></p>
  <P><%= truncate( article.body, length: 150 )%></P>
  <p> <%= link_to 'Continue readding ...', article, class: 'btn btn-link'%> </p>
  <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-primary' if policy(article).update? %>
  <%# Usanod o javascript não intrusivo %>
  <%= link_to 'Destroy', article_path(article),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger' if policy(article).destroy? %>
</article>
