<%= render partial: 'longer_featured' %>
<div class="row mb-2">
  <%= render partial: 'medium_featured' %>
  <%= render partial: 'medium_featured' %>
</div>
<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      From my Experience
    </h3>
    <%= link_to 'New Article', new_article_path, class:'btn btn-primary mb-3'%>
    <%# Essa parte do código ->%>
    <%#<% @articles.each d0 |article|%>
    <%#<%= render article %>
    <%#<% end %>
    <%# <- que itera sobre cada artigo e exibe cada um deles %>
    <%# pode ser substituída por um comando mais simples de rails %>
    <%= render @articles %>
    <%= render 'pagination' %>
  </div>
  <%= render 'right_side' %>
</div>
