<article class="blog-post mb-3">
  <h2 class="display-5 link-body-emphasis mb-1"><%= @article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: @article %>
  </p>
  <p><%= @article.body %></p>
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' if policy(@article).update? %>
  <%# Usando o javascript não intrusivo %>
  <%= link_to 'Destroy', article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger' if policy(@article).destroy? %>
  <%= link_to 'Back', root_path, class: 'btn btn-dark' %>
  <div class="mt-3">
    <h2>Comments</h2>
    <%= render @article.comments %>
  </div>
  <div class="mt-3">
    <h2>Add a comment</h2>
    <% if policy(:comment).create? %>
      <%= render 'comments/form' %>
    <% else %>
      <p>Please log in to add a comment.</p>
    <% end %>
  </div>
</article>
