<article class="blog-post mb-3">
  <h2 class="display-5 link-body-emphasis mb-1"><%= @article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: @article %>
  </p>
  <p><%= @article.body %></p>
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' if policy(@article).update? %>
  <%# Usando o javascript não intrusivo %>
  <%= link_to 'Destroy', article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger' if policy(@article).destroy? %>
  <%= link_to 'Back', root_path, class: 'btn btn-dark' %>
  <div class="mt-3">
    <h2>Comments</h2>
    <% @article.comments.each do |comment| %>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= month_day_comma_year(comment.created_at) %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Comenter: <%= comment.user.email %></h6>
          <p class="card-text"><%= comment.body %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-3">
    <h2>Add a comment</h2>
    <%= simple_form_for [@article, @article.comments.build] do |f| %>
      <div class="form-inputs">
        <%= f.input :body, input_html: { rows: 5 } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</article>
