<!DOCTYPE html>
<html>
  <head>
    <title>Blogstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <meta name="csrf-param" content="<%= Rack::Utils.escape_html(form_authenticity_token) %>">
    <main class="container mb-3">
      <%= render 'layouts/topnavbar' %>
      <%=render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer'%>
  </body>
</html>
